.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1300px;
  margin: 70px auto; 
  padding: 60px;
  box-shadow: 0 0 10px rgba(4, 4, 5, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
}


.prod {
  font-size: 0.8rem;
}

.product {
  margin: 10px;
  padding: 15px;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(3, 50, 193, 0.2);
  border-radius: 5px;
  border: 1px solid #ddd;
  text-align: center;
}

.title {
  margin-bottom: 10px;
  font-size: 1rem; /* Adjusted font size */
}

img {
  width: 50%;
  max-width: 50%;
  height: auto;
  display: inline-block;
  object-fit: contain;
  margin: 10px 55px;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}

.desc {
  margin-top: 10px;
  font-size: 0.6rem; /* Adjusted font size */
  text-align: center;
}


.logo{
  width:80px;
  margin-right: 20px;
}
.active_styles{

  border-bottom: 2px solid #000F;
}